%p.choice.template{:style => "display:none;"}
  = text_area_tag "question[choices][]", nil, :rows => 2, :cols => 32
  = link_to "删除", "javascript:;", :style => "vertical-align:top;", :class => "remove-choice"
= form_for @question do |f|
  = f.hidden_field :knowledge_net_id

  %p= f.label :knowledge_node_id, "知识点"
  - opts = @node.set.nodes.map {|node| [node.name, node.id]}
  %p= f.select :knowledge_node_id, options_for_select(opts, [@node.name, @node.id])

  %p= f.label :content_type, "内容录入语法"
  - format = @question.content_type ? Question.formats.select {|x| @question.content_type == x[1]}[0] : Question.formats[0]
  - format_options = options_for_select(Question.formats, format)
  %p= f.select :content_type, format_options

  %p= f.label :kind, "问题类型"
  - kind_options = Question.kinds
  %p= f.select :kind, Question.kinds, :include_blank => true

  %p= f.label :content, "内容"
  %p= f.text_area :content, :rows => 20, :cols => 64

  %p
    = f.label :choices, "选项"
    = link_to "添加", "javascript:;", :class => "add-choice"

  - if @question.choices
    - @question.choices.each do |choice|
      %p.choice
        = text_area_tag "question[choices][]", choice, :rows => 2, :cols => 32
        = link_to "删除", "javascript:;", :style => "vertical-align:top;", :class => "remove-choice"        

  %p= f.label :answer, "答案"
  %p= f.text_field :answer

  %p= f.submit "提交"
