.page-question-set
  %h1.title #{@node.name} - 概念管理
  .nav
    = link_to "首页", questions_path
    >
    = link_to @net.name, net_questions_path(:id => "javascript")
    >
    = link_to @node.set.name, set_questions_path(:id => @node.set.id, :net_id => @net.id)
    >
    = link_to "#{@node.name}-概念管理", concepts_questions_path(:id => @node.id, :net_id => @net.id), :class => "current"
  .items.concepts
    - @concepts.each do |concept|
      .item
        .title
          = concept.name 
          .ops
            - edit = link_to "编辑", edit_concept_questions_path(:id => concept.id)
            - delete = link_to "删除", destroy_concept_questions_path(:id => concept.id)
            = edit + delete
        .desc= concept.desc

  .new-concept.form
    = render "concept_form"
