.page-debug-net
  .nav
    = link_to "HTTP API DEBUG", "/admin/debug"
    > 
    = "#{@net.name} 的知识单元列表"
  .list
    - @net.sets.each do |set|
      .item
        = link_to set.name, "/admin/debug/knowledge_nets/#{@net.id}/knowledge_sets/#{set.id}"
        = link_to "/api/knowledge_nets/#{@net.id}/knowledge_sets/#{set.id}", "/api/knowledge_nets/#{@net.id}/knowledge_sets/#{set.id}", :target => "_blank"