.page-admin-debug
  .nav
    HTTP API DEBUG

  %h2 用户信息
  .field
    = link_to "/api/user/profile", "/api/user/profile", :target => "_blank"

  %h2 知识网络列表
  - KnowledgeSpaceNetLib::KnowledgeNet.all.each do |net|
    .item
      = link_to net.name, "/admin/debug/knowledge_nets/#{net.id}"
      = link_to "/api/knowledge_nets/#{net.id}", "/api/knowledge_nets/#{net.id}", :target => "_blank"