!!!
%html
  %head
    %title Android4yeWeb
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body
    #page-body
      = render "layouts/navbar"
      = yield
    = javascript_include_tag "application"